<footer>
  <div class="f-info">
    <div class="f-info-brand">
      Saadhan<i class="fa-solid fa-car-side me-2"></i> 
    </div>
    <div class="f-info-links">
      <a href="/privacy-policy">Privacy Policy</a>
      <a href="/terms-and-conditions">Terms and Conditions</a>
      <a href="/about">About</a>
    </div>
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-twitter"></i>
      <a href="https://www.linkedin.com/in/b-manisha-develop/"><i class="fa-brands fa-linkedin-in"></i></a>
    </div>
    <div style="width: 100%; text-align: center; margin-top: 1rem; opacity: 0.8; font-size: 0.9rem;">
      &copy; <%= new Date().getFullYear() %> Saadhan Private Limited. All rights reserved.
    </div>
  </div>
</footer>
