
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/*Navbar*/

.navbar {
    height: 5rem;
    background-color: white;
}

.navbar-brand i {
    color: #ff5533;
    font-size: 2rem;
}

.navbar-nav .nav-link {
    color: grey;
}
.navbar-nav .nav-link:hover {
    text-decoration: color;
    color: black;
    
}


/* footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover {
    text-decoration: color;
    color: #ff5533;
    text-decoration: underline;
}

.f-info-links,
 .f-info-socials,
 .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    text-align: center;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly ;
}

/*cards*/

.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body {
    text-decoration: none !important;
    padding: 0 !important;
  
}

.card-text p {
    font-weight: 400;
}

.listing-click {
    text-decoration: none !important;
    color: #222222;
}

/* show page */

.show-img {
    height: 30vh;
}

.btns {
    display: flex;
    height: 2.4rem;
}