
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/*Navbar*/

.navbar {
    height: 5rem;
    background-color: rgb(233, 242, 232);
}

.navbar-brand i {
    color: #15c0a3;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    color: grey;
}
.navbar-nav .nav-link:hover {
    text-decoration: color;
    color: black;
    
}


/* footer */

.f-info-links a {
    text-decoration: none;
    color: #222222;
}


.f-info-links a:hover {
    text-decoration: color;
    color:#2e9c79;
    text-decoration: underline;
}

.f-info-links,
 .f-info-socials,
 .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}




.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info {
    height: 8rem;
    text-align: center;
    background-color:#ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly ;
}

/*cards*/

.card {
 
  width: 250px;    
  background: white;
  border: none !important;

}

.card-img-top {
    border-radius: 25px !important;
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}

.card-container {
    text-decoration: none !important;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;         /* space between cards */
  padding: 10px;
  scroll-behavior: smooth; 
  overflow: auto;     

  
}

a.listing-title {
  text-decoration: none;
  color: inherit;
  font-size: smaller;
  text-align: left;
}

a.listing-title:hover {
  text-decoration: none;
}
.card-text h5{
    color: black !important;
    text-decoration: none !important;
    font-weight: 300 !important;
}
.card-text p{
    color: black !important;
    text-decoration: none !important;
    font-weight: 300 !important;
}
.listing-click {
    text-decoration: none !important;
    color: #222222;
}

/* show page */

.show-img {
    height: 30vh;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
}
.show-btns {
    display: flex;
    flex-direction: row;
    height: 2.4rem;
    background-color: black;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    border: none;
    width: 6rem;
}

.show-btns a {
    text-decoration: none;
    color: white;
}

#map {
    height: 380px;
    width: 60%;
}